<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Anushka's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- Favicons -->
<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<!-- Add this line to the head section of your HTML file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-QI7oNQh5o4zFX6R/0p/PI4VfV0ooPE+tMHwN5F7W9qDYJqV6/hgkM/9n+q6O5Bdy17C9M2oW+6F+/60Z9zD5fw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- Vendor CSS Files -->
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
</head>



  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


 
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">

        <h1 class="text-light"><a href="index.html">Anushka Bhattacharji</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.instagram.com/anushka.bhattacharji/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="mailTo:anushka.bhattacharji@gmail.com" class="google-plus"><i class="bx bxl-google"></i></a>
          <a href="https://www.linkedin.com/in/anushkabhattacharji/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-code-alt"></i> <span>Skills</span></a></li>
    
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bxs-contact"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="video">
    <video  autoplay muted loop>
      <source src="{% static 'assets/img/hero.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</div>
    <div class="hero-container" data-aos="fade-in">
      <h1>Anushka Bhattacharji</h1>
      <br>

      <p> <b><span class="typed" style="color: black" data-typed-items="Software Developer, Machine Learning Enthusiast, Data Analyst, Competitive Programmer, Creative Writer"></span></b></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    
    <section id="about" class="about">
      
    
      <div class="container">

        <div class="section-title">
          <h2 data-aos="flip-up" data-aos-duration="2000">ABOUT</h2>
        </div>
        <div class="row">
          <div class="col-lg-4" data-aos="slide-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <div style="background-color: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 10px;">
                <h3 style="color: #F8C909; text-shadow: 1px 5px black;" data-aos="fade-down" data-aos-duration="1000">Greetings!</h3>
                <p style="color: white; text-align: justify;">
                    I'm Anushka Bhattacharji, a third-year Computer Science student at SRMIST, Chennai, specializing in Artificial Intelligence and Machine Learning. My journey in the realm of technology is fueled by a deep curiosity and a drive to create innovative solutions for real-world challenges. The varied projects that I have worked upon showcase my commitment to leveraging technology for positive change.<br>
                    I thrive in team environments, known for my ability to connect with people and foster collaboration. Driven by a passion for technology and a desire to make a meaningful impact, I am eager to connect with like-minded professionals and explore new opportunities.
                </p>
            </div>
        </div>
        
        </div>

      </div>
    </section>
 <!-- End About Section -->

    <!-- ======= Skills Section ======= -->
   
  
    <section id="skills" class="skills section-bg">
      
      <div class="container">

        <div class="section-title">
          <h2 data-aos="flip-up" data-aos-duration="2000">TECHNICAL SKILLS</h2>
          
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Django <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Python <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">C++ <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">C <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Java <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


          </div>
          
        </div>
        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Machine Learning <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Deep Learning <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Data Analysis and Visualization <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">R <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">SQL <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">MySQL <i class="val"></i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            


          </div>
          
        </div>
        <br><br><br><br><br>
        <div class="section-title">
        <h2 data-aos="flip-up" data-aos-duration="2000">INTERPERSONAL SKILLS</h2>
        </div>
        <div class="row skills-content">
          <table>
            <tr data-aos="slide-left" >
            <th>Leadership</th>
            <th>Collaboration</th>
            <th>Communication</th>
            <th>Approachability</th>
            </tr>
            <br>
            <tr data-aos="slide-right">
              <th>Empathy</th>
            <th>Problem-solving</th>
            <th>Conflict Resolution</th>
            <th>Adaptability</th>
            </tr>
          </table>
        </div>
      </div>
    </section><!-- End Skills Section -->

 

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">
        <div class="section-title">
          <h2 data-aos="flip-up" data-aos-duration="2000">PROJECTS</h2>
          <p>Step into my world of innovation and creativity! Here, I'm excited to share with you a glimpse of the projects that highlight my passion for leveraging technology to tackle real-world challenges.</p>
          <br><br><br>

    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static "assets/img/food.jpeg" %}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">ResQbites</h5>
            <p class="card-text">Introducing a robust Food Waste Reduction and Redistribution system, utilizing a Random Forest Classifier for surplus food categorization and waste reduction. Offering nutritional analysis, optimized distribution mapping, and real-time database connectivity for streamlined delivery. Includes a tracking feature to ensure model accuracy and prevent overfitting.</p><br>
            <a href="https://github.com/anushka4124/Food-Waste-Reduction-and-Redistribution-System" target="main" class="btn btn-success">Project Link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static "assets/img/drowsy.jpeg" %}" class="card-img-right" >
          <div class="card-body">
            <h5 class="card-title">DrowsyGuard</h5>
            <p class="card-text">Combatting drowsy driving, our real-time monitoring system employs advanced Computer Vision techniques and Machine Learning algorithms. Using the Euclidean Algorithm for Eye-Aspect-Ratio and Haar Cascade Classifier, it detects signs of drowsiness like drooping eyelids, promptly triggering alerts to prevent accidents. Addressing a critical global issue, this project aims to enhance road safety and save lives.</p><br>
            <a href="https://github.com/anushka4124/Drowsiness-Detection" target="main" class="btn btn-success">Project Link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static "assets/img/heart.avif" %}" class="card-img-right" >
          <div class="card-body">
            <h5 class="card-title">CardioFit</h5>
            <p class="card-text">This Machine Learning Predictive model offers accurate risk assessment and early detection of cardiovascular issues, empowering proactive intervention and personalized care. Have also done a comparative analysis on how the accuracy varies by the implementation of different models.</p><br>
            <a href="https://github.com/anushka4124/ML_projects/blob/main/Heart_disease.ipynb" target="main" class="btn btn-success">Project Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    
    
    
            
            <!-- More carousel items -->
          
        
        
        

        

      

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="flip-up" data-aos-duration="2000">INTERESTED DOMAINS</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-database"></i></div>
            <h4 class="title"><a href="#">Backend Development</a></h4>
            
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa-solid fa-robot"></i></div>
            <h4 class="title"><a href="#">Machine Learning</a></h4>
            
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="fa-solid fa-brain"></i></div>
            <h4 class="title"><a href="#">Deep Learning</a></h4>
            
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="700">
            <div class="icon"><i class="fa-solid fa-chart-pie"></i></div>
            <h4 class="title"><a href="#">Data Science</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="900">
            <div class="icon"><i class="fa-solid fa-laptop-code"></i></div>
            <h4 class="title"><a href="#">Competitive Programming</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1000">
            <div class="icon"><i class="fa-solid fa-feather"></i></div>
            <h4 class="title"><a href="#">Creative Writing</a></h4>
            
          </div>
          
          
        </div>

      </div>
    </section><!-- End Services Section -->

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="flip-up" data-aos-duration="2000">CONTACT</h2>
          
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">

              <div class="email">
                <i class="bi bi-envelope"></i>
       
                <p>anushka.bhattacharji@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                
                <p>+91 6289195668</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10223495.501580056!2d72.58726564367307!3d20.593684158530702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396cd65c9241f761%3A0x29a59b64d52a7a!2sIndia!5e0!3m2!1sen!2sus!4v1655815153317!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-10 mt-lg-0 d-flex align-items-stretch">
            
            <form id="messageForm" method="POST" action="/send" onsubmit="sendmsg()" data-aos="fade-left">
              {% csrf_token %}
              <div style="background-color: rgb(160, 167, 240,0.5); border-radius: 15px; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);">
                  <div class="row">
                      <h4 data-aos="fade-up" data-aos-duration=".3s">
                          <b><center>Let's Connect <i class="fa-solid fa-globe"></i></center></b>
                      </h4>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Name:" name="fname" id="fname">
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col">
                          <input type="email" class="form-control" placeholder="Email:" name="email" id="email">
                      </div>
                      <div class="col">
                          <input type="url" class="form-control" placeholder="Linkedin Profile Link:" name="link" id="link">
                      </div>
                  </div>
                  <br>
                  <!-- Form Group -->
                  <div class="form-group">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Subject:" name="sub" id="sub">
                      </div>
                      <br>
                      <textarea name="msg" id="form-message" cols="30" rows="5" class="form-control" placeholder="Drop your message here:" required></textarea>
                  </div>
                  <br><br>
                  <button type="submit" class="btn btn-primary">Send</button>
              </div>
          </form>
          
            
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by Anushka Bhattacharji
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script>
  function sendmsg(){
    alert("Message sent!");
  }
</script>


</body>

</html>
